
<html>

        <head>
      
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="">
          <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
      
          <title>Restaurant Blogs</title>
      
          <!-- Bootstrap core CSS -->
          <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      
      
          <link rel="stylesheet" href="assets/css/fontawesome.css">
          <link rel="stylesheet" href="assets/css/templatemo-style.css">
          <link rel="stylesheet" href="assets/css/owl.css">
      
        </head>
      
      <body class="is-preload">
      
          <!-- Wrapper -->
          <div id="wrapper">
      
            <!-- Main -->
              <div id="main">
                <div class="inner">
      
                  <!-- Header -->
                  <header id="header">
                    <div class="logo">
                      <a href="index.ejs"></a>
                    </div>
                  </header>
      
                  <!-- Page Heading -->
                  <div class="page-heading">
                  
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
      
                        
                          <p><strong>You can edit/update your data here.</strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Tables -->
                  <section class="tables">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="section-heading">
                            <h2>Blogs</h2>
                          </div>
                          <div class="default-table">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Blog no.</th>
                                      <th>Title</th>
                                      <th>Likes</th>
                                    </tr>
                                  </thead>
                                  <div></div>
                                  <tbody>
                                    <%for(var i=0;i < res.length;i++){%>
                                      
                                    <tr>
                                      <td><%=res[i].blog_id%></td>
                                      <td><%=res[i].Title%></td>
                                      <td><%=res[i].likes%></td>
                                      <td><img src="images/<%=res[i].image_url%>"  height="7" width="1"></td>
                                      <form action="/delete_blog/<%=res[i].blog_id%>" method="get">
                                      <td><input type="submit" name="Delete"  value="X" ></td>
                                      </form>
                                    </tr>
                                    <%}%>
                                  </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
      
                  <!-- Forms -->
                  <section class="forms">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <form id="contact" action="\updateblog" method="get" enctype="multipart/form-data">
                            <div class="row">
                              <div class="col-md-6">
                                <fieldset>
                                  <input name="title" type="text" class="form-control" id="title" placeholder="Title" required>
                                </fieldset>
                              </div>
                              <div class="col-12">
                                <textarea name="body" id="body" placeholder="Content" rows="20"></textarea>
                              </div>
                              <div class="col-md-6">
                                  <div class="upload-btn-wrapper">
                                      <button class="filled-round-button">Upload an image</button>
                                    <input name="images" type="file"/>
                                  </div>
                                </div>
                              <div class="col-md-6">
                                <div class="filled-round-button">
                                <button type="submit" id="form-submit" >Add to Blog</button>
                              </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </section>
      
                </div>
              </div>
      
            <!-- Sidebar -->
              <div id="sidebar">
      
                <div class="inner">
      
                  <!-- Search Box -->
                  <section id="search" class="alt">
                    <form method="get" action="#">
                      <input type="text" name="search" id="search" placeholder="Search..." />
                    </form>
                  </section>
                    
                  <!-- Menu -->
                 <nav id="menu">
                    <ul>
                      <li><form action="/res_home" id="formosubmit" method="post" onclick="document.getElementById('formosubmit').submit()">Home</form></li>
                      <li><a href="res_update.ejs">Update Details</a></li>
                      <li><form action="/res_loadmenu" id="formmsubmit" method="get"  onclick="document.getElementById('formmsubmit').submit()">Menu</form></li>
                      <li><form action="/res_loadorder" id="formsubmit" method="get" onclick="autosubmit()">Orders</form></li>
                      <li><form action="/res_stat" id="formtsubmit" method="post" onclick="document.getElementById('formtsubmit').submit()">Stats</form></li>
                    </ul>
                  </nav>
      
                
                  <!-- Footer -->
                  <footer id="footer">
                    </footer>
                  
                </div>
              </div>
      
          </div>
      
        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
          <script src="vendor/jquery/jquery.min.js"></script>
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      
          <script src="assets/js/browser.min.js"></script>
          <script src="assets/js/breakpoints.min.js"></script>
          <script src="assets/js/transition.js"></script>
          <script src="assets/js/owl-carousel.js"></script>
          <script src="assets/js/custom.js"></script>
          <script>
          function autosubmit(){
            var frm = document.getElementById("formsubmit");
            frm.submit();
          }
        </script>
                  
      </body>
      </html>
      